/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Ιουν 2020, 7:13:10 μμ
    Author     : cdesp
*/

/*showusermessages*/

table.tbmesinfo  td, th
{
    border:1px solid green;
}
table.tbmesinfo th
{
    background-color:green;
    color:white;
    font-size:18px;
}
.tr1
{
    color:blue;
    font-size:14px;
}
.tr2
{
    color:white;
}
.tcol1
{
    width:100px;text-align:left;
}
.tcol2 .tcol1a
{
    width:100px;text-align:center;
}
.tcol3
{
    width:100px;text-align:center;
}
.tcol4
{
    text-align:left;color:white;
    font-size:16px;

}


table.tbmesinfo 
{
    table-layout:fixed; 
    width:495px;
    left:2px;
}/*Setting the table width is important!*/		  
table.tbmesinfo td 
{
    overflow:hidden;
}/*Hide text outside the cell.*/

/*diplomacymain*/

.diplomain
{
    width:500px;  
    overflow:auto;
}
